streamlit
pandas
numpy
scikit-learn
nltk
matplotlib
seaborn
wordcloud
joblib
newspaper3k
lxml_html_clean
easyocr
torch
torchvision
pillow
beautifulsoup4
requests
firebase-admin
pyrebase4
huggingface_hub
